section.categories {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 200px;
    gap: 50px;
    flex-wrap: wrap;
    /* background-color: blue; */
}

section.categories article {
    width: 150px;
    height: 150px;
    background-color: rgba(244, 239, 239, 0.598);
    /* z-index: 2; */
    border-radius: 20px;
    /* font-style: bold; */
    /* [horizontal-offset] [vertical-offset] [blur-radius] [spread-radius] [color]; */
    /* box-shadow: 1px 5px 10px 7px black; */
    box-shadow: -1px 5px 5px rgb(60, 58, 58);
    position: relative;
}

section.categories article span {
    bottom: 30px;
    left: 30px;
    display: block;
    font-family: "Bebas Neue" ,sans-serif;
    font-size: 1.5rem;
    position: absolute;
}

section.categories article div {
    /* position: fixed; */
    position: absolute;
    top:20px;
    left:30px;
    width:50px;
    height: 50px;
    /* background-repeat: no-repeat; */
    background-size: cover;
}

/* addign categories icons */
section.categories article.programming div{
    background-image: url("../images/web-programming.png");
}
section.categories article.marketing div{
    background-image: url("../images/bullhorn.png");
}
section.categories article.gaming div{
    background-image: url("../images/console.png");
}
section.categories article.video-editing div{
    background-image: url("../images/video-editor.png");
}
section.categories article.photo-editing div{
    background-image: url("../images/edit-image.png");
}
section.categories article.accounting div{
    background-image: url("../images/accounting.png");
}
section.categories article.education div{
    background-image: url("../images/graduation-cap.png");
}
section.categories article.health div{
    background-image: url("../images/heart-beat.png");
}
section.categories article.food div{
    background-image: url("../images/restaurant.png");
}

