.sticky-header {
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000; /**/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.sticky-header .logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.sticky-header .nav-links {
    display: flex;
    gap: 3rem;
}

.sticky-header .nav-links a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    transition: color 0.3s;
}

.sticky-header .nav-links a:hover {
    color: green;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 1rem;
}


.sign-in-button {
    background-color: green;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.sign-in-button:hover {
    background-color: darkgreen;
}

