<html>
    <head>
        <title>project</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/similar_projects.css') }}?{{ cache_id }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}?{{ cache_id }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/project_representaion.css') }}?{{ cache_id }}">
        <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}?{{ cache_id }}" type="image/x-icon">
        <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=SUSE:wght@100..800&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rubik:ital,wght@0,300..900;1,300..900&family=SUSE:wght@100..800&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=New+Amsterdam&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="project_representation">
            <img class="poster" src="{{ url_for('static', filename='images/' + project.name + '_poster.jpg') }}?{{ cache_id }}">
            </img>
            <section class="info">
                <p class="name">{{ project.name }}</p>
                <p class="category"><span>Category:</span> {{ project.category.name }}</p>
                <p class="rate"><span>Rate:</span> {{ project.rate }} / 5.0</p>
                <p class="description"><span>Description:</span><br>{{ project.description }}</p>
                <p class="created_at"><span>created at:</span> {{ project.created_at.strftime("%Y-%m-%d") }}</p>
                <p class="last_updated"><span>last updated at:</span> {{ project.updated_at.strftime("%Y-%m-%d") }}</p>
                <p class="developer"><span>Developer:</span> <a href="/users/{{ project.owner.username }}/projects/" targer="_blank">{{ project.owner.username }}</a></p>
                <p class="tools"><span>Tools:</span> 
                    {% for tool in project.tools %}
							{% if tool == project.tools[-1] %}
								{{ tool.name }}
							{% else %}
								{{ tool.name }},&nbsp;
							{% endif %}
						{% endfor %}
                </p>
                <p><span>Contact-info:</span></p>
                <div class="contact-info">
                    <a href="{{ project.owner.linkedin_url }}" target="_blank"><img class="linkedin" src="{{ url_for('static', filename='images/linkedin_icon.png') }}?{{ cache_id }}" alt="linkedin icon"></a>
                        <a href="{{ project.owner.github_url }}" target="_blank"><img class="github" src="{{ url_for('static', filename='images/github_icon.png') }}?{{ cache_id }}" alt="github icon"></a>
                        <a href="mailto:{{ project.owner.email }}" target="_blank"><img class="gmail" src="{{ url_for('static', filename='images/gmail_icon.png') }}?{{ cache_id }}" alt="gmail icon"></a>
                </div>
            </section>
        </div>
        <div class="explore_text">Similar projects</div>
        <section class="explore">
            {% for cat_project in category_projects %}
                <article class="{{ cat_project.name }}">
                    <img class="poster" src="{{ url_for('static', filename='images/' + cat_project.name + '_poster.jpg') }}?{{ cache_id }}">
                    </img>                      
                    <div class="data">
                        <a href="/projects/{{ cat_project.name }}" target="_blank">
                            <p class="project-name">{{ cat_project.name }}</p>
                        </a>
                        <p class="category">Category: {{ cat_project.category.name }}</p>
                        <p class="developer"><span>Developer:</span><a href="/users/{{ cat_project.owner.username }}/projects" target="_blank">{{ cat_project.owner.username }}</a></p>
                        <p class="tools">tools: 
                            {% for tool in cat_project.tools %}
                                {% if tool == cat_project.tools[-1] %}
                                    {{ tool.name }}
                                {% else %}
                                    {{ tool.name }},&nbsp;
                                {% endif %}
                            {% endfor %}
                        </p>
                        <p class="rate">Rate: {{ cat_project.rate }} / 5.0</p>
                        <p class="description">Description:</p>
                        <div class="description_text">
                            {{ cat_project.description }}
                        </div>
                    </div>
                </article>
            {% endfor %}
        </section>    
    </body>
</html>